<footer>
  <div class="row footer">
    <div class="columns four">
      <strong>FIND US ON</strong>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Pintrest</a></li>
      </ul>
    </div>
    <div class="columns four">
      <strong>Recent Articles</strong>
      <ul>
        <li><a href="#">Bye</a></li>
        <li><a href="#">Goodbye</a></li>
        <li><a href="#">See you later</a></li>
        <li><a href="#">adios</a></li>
      </ul>
    </div>
    <div class="columns four">
      <strong>Recently Updated Pages</strong>
      <ul>
        <li>Hi</li>
        <li>Hello</li>
        <li>Hola</li>
        <li>Guantag</li>
      </ul>
    </div>
  </div>
</footer>
